<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Aplikasi Data Mahasiswa</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/script.js}" type="text/javascript"></script>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-lg-12 margin-tb">
            <div class="float-left">
                <h2>Menu</h2>
            </div>
        </div>
    </div>
    <ul>
        <li><a href="/mahasiswa">Mahasiswa</a></li>
        <li><a href="/jurusan">Jurusan</a></li>
        <li><a href="/fakultas">Fakultas</a></li>
        <li><a href="/matkul">Mata Kuliah</a></li>
    </ul>
</div>

</body>
</html>